* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wallet {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(37, 94, 218);
    color: white;
}
.wallet-add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(80, 255, 80);
    width: 50%;
    max-width: 200px;
    border-radius: 60px;
    padding-right: 14px;
    border-top: 0.5px solid white;
    border-right: 0.5px solid rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wallet-details {
    display: flex;
    align-items: center;
    height: 54px;
    font-weight: 600;
    font-size: 23px;
    padding-left: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name,.status,
.name,.transaction,.date,.status {
    background-color:rgb(0, 215, 239);
    font-size: 23px;
    height: 40px;
}
#btn-add {
    cursor: pointer;
}
.wallet-balance {
    padding-left: 30px;
    font-size: 25px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    padding-right: 20px;
    color: rgb(107, 106, 106);
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
small {
    font-size: 14px;
}
.modal {
    display: none;
    width: 205px;
    height: 205px;
    background-color: white;
    color: rgb(0, 0, 0);
    outline-color: 0.5px solid rgb(214, 214, 214);
    border-color: 0.5px solid rgb(214, 214, 214);
    border-style: solid;
    border-width: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.modal-dismiss {
    padding-left: 90%;
    font-size: 20px;
    padding-right: 20px;
    cursor: pointer;
}
form {
    padding-left: 10%;
    padding-right: 20%;
}
.ad {
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.submit {
    position: relative;
    height: 60px;
    background-color: lightgreen;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    border: 0.5px solid white;
    padding-left: 40px;
    transition: 0.5s;
    width: 115%;
}
.submit:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: white;
}
.ball {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.em;
}
.ball:hover {
    left: calc(100%-55px);
}
#arrow {
    padding-left: 20px;
    font-size: 29px;
}
table{
    display: flex;

}
input {
    border: 0.5px solid rgb(214, 214, 214);
    outline-color: transparent;
}
.sw {
    font-size: 20px ;
}
.terms {
    font-size: 10.2px;
}
img {
    margin-left:-50%;
}
@media screen and (max-width:1000px){
    .modal {
        display: none;
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(85, 207, 255);
}