* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wallet {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(37, 94, 218);
    color: white;
}
.wallet-add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(80, 255, 80);
    width: 50%;
    max-width: 200px;
    border-radius: 44px;
    padding-right: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wallet-details {
    display: flex;
    align-items: center;
    height: 54px;
    font-weight: 600;
    font-size: 23px;
    padding-left: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name {
    width: 25%;
}
.transaction {
    width: 25%;
}
.date {
    width: 25%;
}
.status {
    width: 25%;
}
.name,.transaction,.date,.status {
    background-color:rgb(0, 215, 239);
    font-size: 23px;
    height: 40px;
}
#btn-add {
    cursor: pointer;
}
.wallet-balance {
    padding-left: 30px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    padding-right: 20px;
    color: rgb(107, 106, 106);
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
small {
    font-size: 14px;
}
.modal {
    width: 40%;
    min-width: 205px;
    height: 205px;
    background-color: rgba(29, 158, 172, 0.936);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    max-width: 299px;
}
.modal-dismiss {
    padding-left: 90%;
    font-size: 20px;
    padding-right: 20px;
    cursor: pointer;
}

form {
    padding-left: 10%;
    padding-right: 20%;
}
.ad {
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.submit {
}